h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  text-align: left;
}

.container {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.section-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  font-size: 4rem;
  padding: 1rem;
}

.contact-icon-container {
  display: flex;
  align-items: center;
}

.contact-icon-container i {
  padding-right: 1rem;
}
